
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
    <script src="https://kit.fontawesome.com/b336978947.js" crossorigin="anonymous"></script>
</head>
<body style="background-image:url(/pics/404.png); background-size: cover; background-position:center;">
    <div>
        <h1 style="margin-top: 800px; text-align: center;">Selam :)  Aradığın sayfa kaldırılmış. <a href="/News/Index/">Buradan</a> Ana Sayfaya gidebilirsin.</h1>

    </div>
    <div style="text-align: center;">
        <a href="#" style="color: inherit blue;">
            <i href="#" class="fa-brands fa-instagram fa-2xl">&nbsp;</i>
        </a>
        <a href="#" style="color: inherit blue;">
            <i href="#" class="fa-brands fa-x-twitter fa-2xl"></i>
        </a>
    </div>
</body>
</html>
